@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#F2F1EF] text-[#202a38] tracking-wide
  }

  .blinking-cursor:after {
    content: '|';
    @apply text-[#202a38];
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50%{
      opacity: 0;
    }
  }

  h1, h2, h3, h4 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#DE9E36] to-[#E47B4E] text-white
  }
}